<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:manufacturer]} type="text" label="Manufacturer" />
  <.input field={f[:model]} type="text" label="Model" />
  <.input field={f[:reg_number]} type="text" label="Reg number" />
  <:actions>
    <.button>Save Car</.button>
  </:actions>
</.simple_form>
