<%!-- <%= Enum.at(@conn.path_info, 0) %> --%>
<%!-- <%= @conn.name %> --%>
<.flash_group flash={@flash} />
<div class="container mx-auto pt-3">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    Hello
    <%= @name %>
  </div>
</div>