<.header>
  New Driver
  <:subtitle>Use this form to manage driver records in your database.</:subtitle>
</.header>

<.driver_form changeset={@changeset} action={~p"/drivers"} />

<.back navigate={~p"/drivers"}>Back to drivers</.back>
